@import url('https://fonts.googleapis.com/css?family=Lato');
body{
  margin:0 !important;
}
.protograph-card{
  position:relative;
  overflow: hidden;
  letter-spacing: normal;
  box-sizing: border-box;
}
#protograph_div{
  border-bottom: 1px solid #DDD;
  margin: auto;
}
#protograph_div.protograph-laptop-mode {
  width: auto;
}
#protograph_div.protograph-mobile-mode {
  width: 320px;
}
.protograph-toMedia-image {
  height: 250px;
  text-align: center;
}
.protograph-toMedia-image img {
  height: 250px;
}
.protograph-toMedia-media-description {
  padding: 10px;
}
.protograph-toMedia-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  padding: 10px;
  padding-bottom: 5px;
}
.protograph-toMedia-audio audio {
  width: 100%;
}
#ProtoScreenshot {
  width: 450px;
  padding: 10px 15px;
  height: 450px;
  overflow: hidden;
}
